// COLORS

// Generals: Accent, Additional
$cAccent: #19A347;
$cAccentAdditional: #292EA3;
$cWhite: #FFFFFF;

// Elements
// Backgrounds: Main, Additional
$cBgMain: #FFFFFF;
$cBgAdditional: #DDFED0;
// Border
$cBorder: #AEBFB7;

// Types: Neutral, Info, Success, Warning, Danger
$cTypeNeutral: #999797;
$cTypeInfo: #3452A3;
$cTypeSuccess: #3CA32C;
$cTypeWarning: #9E9602;
$cTypeDanger: #A31513;

// Typography: Main, Additional
$cTextMain: #133538;
$cTextAdditional: #558185;
$cTextWhite: #FFFFFF;
